.traslations__list {
  list-style-type: none;
}

.traslation__item {
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.traslation__date {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.38);
}
video, audio {
  display: block;
  margin: 2rem auto;
}
video {
  border: 3px solid #ff00000d;
  border-radius: 2px;

}
.box__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.box__img {
  display: block;
  width: 5rem;
  border-radius: 50%;
}

.traslation__item p {
  text-align: center;
}

.traslation__container {
  width: auto;
  margin-bottom: 1rem;
  background-color: white;
  padding: 2rem 2rem 0.1rem 2rem;
  box-shadow: 0px 3px 3px #ccc;
}

.traslation__verify {
  display: flex;
  justify-content: space-around;
}

.traslation__verify div {
  text-align: center;
}

.fa__check--circle {
  color: #6db65b;
  cursor: pointer;
}

.fa__check--circle :hover{
  color: #559246;
  cursor: pointer;
}

.fa__times--circle {
  color: #bc3636;
  cursor: pointer;
}

.fa__times--circle :hover{
  color: #a02e2e;
  cursor: pointer;
}