.textarea__box-text {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 2px rgba(0,0,0,.46);
  outline: none;
}
.donate__text {
  -webkit-animation: fadeInOpacity 0.4s 1;
  animation: fadeInOpacity 0.4s 1;
}

.textarea__titel {
  font-size: 20px;
  font-weight: bold;
}

.donate__validation{
  color: red;
}