.question__modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99;
  -webkit-animation: fadeInOpacity 0.4s 1;
  animation: fadeInOpacity 0.4s 1;
  text-align: center;
}

.question__content {
  position: fixed;
  background: white;
  width: 30rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__tabs {
  margin-top: 30px;
}

.question__title {
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.question__textarea {
  margin: 1rem 1rem 0.1rem 1rem;
  box-shadow: 0 0 2px #00000075;
}

.question__validation {
  color: #bc3636;
}