a {
  text-decoration: none;
}

.box {
  list-style-type: none;
}

.edit-icon {
  color: #a52f2f;
  cursor: pointer;
  transition-duration: 0.2s;
}

.save-icon {
  color: green;
  cursor: pointer;
  transition-duration: 0.2s;
  display: inline;
  margin-left: 20px;
}

.none {
  display: none;
}

.edited--message {
  margin-left: 120px;
  color: #a52f2fce;
  font-size: 15px;
  transition-duration: 0.5s;
}
.save-icon:hover {
  color: rgba(0, 128, 0, 0.76);
}

.box__card--buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  float: right;
  align-items: center;
}
.edit-icon:hover {
  color: #a52f2fd3;
}

.box__card--question {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8);
  font-family: bold;
}
.box__card {
  color: rgb(255, 1, 1);
  width: auto;
  height: 1.5rem;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  background-color: white;
  padding: 2rem 2rem 3rem 1rem;
  box-shadow: 0px 3px 3px #ccc;
}

.box__card--details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box li a {
  color: black;
  text-decoration: none;
}
.question--title:disabled {
  border: none;
  outline: none;
  background: none;
  color: #00000080;
  font-size: 15px;
  font-weight: bold;
}
.question--title {
  border: none;
  outline: none;
  background: #a52f2fc9;
  outline: none;
  border-radius: 2px;
  padding: 2px 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.box__card--content {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 10px;
}

.box__card--translations {
  color: rgb(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  font-weight: bold;
}

.box__card--translations:hover {
  color: #a52f2fd3;
}
