.footer{
  background-color: white;
  height: 4rem;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.footer__text{
  color:#BC3636;
  display: flex;
  justify-content: center;
  align-self: center;
}

