.specialization__box {
  animation: fadeInOpacity 0.4s 1;
}

.specialization__header {
  display: flex;
}

.error__message{
text-align: center;
margin-top: 100px;
font-size: 50px;
color: rgba(0, 0, 0, 0.445);
}
.specialization__header--text {
  margin-top: 0.5rem;
  color: #bc3636;
}

.specialization__search {
  margin-left: auto;
  margin-bottom: 1rem;
}

.specialization__showmore {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 10px;
  cursor: pointer;
}

.specialization__showmore:hover {
  color: #f59036;
}

.specialization__notFound {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 10px;
}