@import "https://fonts.googleapis.com/css?family=Cairo";

.home__image-container {
  position: relative;
}

.home__image {
  width: 100%;
  height: 500px;
  opacity: 0.5;
}

.home__paragraph {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 60px;
  padding: 10rem 0rem;
  color: rgba(0, 0, 0, 0.7);
}

.home__text {
  font-family: "Cairo";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 0.2rem 0rem;
  color: rgba(0, 0, 0, 0.7);
}

.home__main {
  display: block;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      rgba(188, 54, 54, 0.2),
      rgba(255, 255, 255, 0.1633)
    ),
    url("background.jpeg");
  background-size: cover;
}

.home__main--background {
  background: rgba(255, 255, 255, 0.78);
  width: 100%;
}

.contents {
  padding-top: 5%;
  z-index: 1000;
}

.content-line {
  color: #000;
  width: 80%;
  margin: 0 auto;
}


@media (max-width: 767px) {
  .home__image {
    height: 38%;
  }

  .home__text {
    font-size: 1rem;
  }

  .home__section {
    top: 38%;
  }

  .home__section {
    height: 100rem;
  }
}

@media (width: 768px) {
  .home__section {
    height: 80rem;
  }
}
