.box {
  list-style-type: none;
}

.box__card {
  width: auto;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-bottom: 1rem;
  background-color: white;
  padding: 2rem 2rem 3rem 2rem;
  box-shadow: 0px 3px 3px #ccc;
}

.box li a {
  color: black;
  text-decoration: none;
}

.box__card--content {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.38);
}

.box__card--content--box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
