.donate__modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99;
  -webkit-animation: fadeInOpacity 0.4s 1;
  animation: fadeInOpacity 0.4s 1;
  text-align: center;
}

.donate__content {
  position: fixed;
  background: white;
  width: 30rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.donate__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donate__tabs {
  margin-top: 0px;
}

.donate__title {
  margin: 5px 5px 1px 5px;
  color: rgba(0, 0, 0, 0.5);
}

.uploading__loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.856);
  position: absolute;
  border-radius: 10px;
}

.double-bounce1__uploading,
.double-bounce2__uploading {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-color: rgba(233, 0, 0, 0.63);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 45%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.record-button {
  cursor: pointer;
  color: #26922dc7;
  width: 30px !important;
  height: 30px;
}

.record-button:hover {
  color: #36bc41b6;
}

.recording {
  animation: recording 0.8s infinite;
}

.stop__button {
  width: 30px !important;
  height: 30px;
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.stop__button:hover {
  color: rgba(255, 0, 0, 0.521);
}

.stop__button--disabled {
  color: rgb(105, 102, 102);
  cursor: default;
}
.stop__button--disabled:hover {
  color: rgb(105, 102, 102);
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}


.no__record{
  display: none;
}

.translation__question-view {
  color: rgba(165, 9, 9, 0.781);
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes recording {
from {
  color: #26922dc7;
}

to{
color: #36bc41b6;
}
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
