.cards__boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.cards__box {
  background: lightgrey;
  color: rgba(0, 0, 0, 0.62);
  text-align: justify;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.cards__title {
  color: #bc3636;
  text-align: center;
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.cards__box-title {
  text-align: center;
  padding-bottom: 1rem;
}
