@import "https://fonts.googleapis.com/css?family=Cairo";

.join {
  background-color: #bc3636;
  padding: 5px;
  border: 1px solid #bc3636;
  color: white;
  border-radius: 6px;
  font-family: cairo;
  cursor: pointer;
  width: 11rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  transition-duration: 0.4s;
}

.login {
  background-color: white;
  color: #bc3636;
  border: 1px solid #bc3636;
  padding: 5px;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  width: 6rem;
  font-family: cairo;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
  transition-duration: 0.4s;
}

.profile__button,
.specializations__button,
.logout__button {
  color: #d11c1c;
}
.specializations__button,
.profile__button,
.logout__button {
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: 0.6rem 1rem;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition-duration: 0.4s;
}

.specializations__button:hover,
.profile__button:hover,
.logout__button:hover {
  color: #682121;
}
.join:hover {
  background-color: #a52f2f;
}

.login:hover {
  background-color: #faf8f8;
}

@media (max-width: 1024px) {
  .join {
    width: 4rem;
  }

  .login {
    width: 4rem;
  }
}

.closeButton {
  margin: 10px;
  color: rgba(255, 0, 0, 0.61);
  cursor: pointer;
  transition-duration: 0.4s;
}
.closeButton:hover {
  color: rgb(255, 0, 0);
}

.button__join,
.button__login {
  justify-self: center;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: cairo;
}

.button__donate,
.donate__submit {
  background-color: #bc3636;
  color: white;
  border: 1px solid #bc3636;
  padding: 3px;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  width: 12rem;
  font-family: cairo;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
  transition-duration: 0.4s;
  float: right;
}


.button__donate:hover,
.donate__submit:hover {
  background: #a52f2f;
}

.button__login:hover,
button__login:hover {
  background-color: rgba(255, 0, 0);
}

.button__linkedin {
  justify-self: center;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.8);
  border: none;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: cairo;
}

.button__linkedin:hover {
  background-color: rgba(0, 0, 255);
}

.joinButton,
.join__backtologin,
button__login {
  width: 80px;
  background: white;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
}

.join__backtologin {
  width: 120px;
}

.joinButton:hover,
.join__backtologin:hover {
  background-color: rgba(255, 0, 0);
  color: white;
}
.button__next:hover {
  background-color: #bc3636ec;
}

.button__back:hover {
  background-color: #bc3636b6;
}
.button__next {
  background-color: #bc3636;
  color: #ffffff;
  border: none;
  padding: 1px;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  width: 6rem;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
  transition-duration: 0.3s;
  float: right;
}
.button__back {
  background-color: #bc36365e;
  color: #000000;
  border: none;
  padding: 1px;
  font-size: 1rem;
  border-radius: 4px;
  width: 4rem;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
  transition-duration: 0.3s;
  float: right;
}

.button__profile-card {
  width: 7rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-color: #bc3636;
  border: none;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-left: 4rem;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: cairo;
}

.donate__tab {
  width: 7rem;
  border: none;
  padding: 5px 10px;
  background-color: #bc3636c7;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: bold;
  outline: none;
}
.donate__tab:hover {
  background-color: #bc3636;
}

.donate__tab--clicked {
  width: 7rem;
  border: none;
  padding: 5px 10px;
  background-color: #bc3636;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: bold;
  outline: none;
}

.closeButton {
  margin: 10px;
  color: rgba(255, 0, 0, 0.61);
  cursor: pointer;
  transition-duration: 0.4s;
}
.closeButton:hover {
  color: rgb(255, 0, 0);
}

.tab__button {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  margin: 1px 10px;
  border: none;
  background: inherit;
  font-size: 15px;
  outline: none;
}

.tab__button--clicked {
  color: rgb(255, 136, 0);
}

.button__add-question, .question__submit {
  background-color: #bc3636;
  color: white;
  border: 1px solid #bc3636;
  font-weight: bold;
  padding: 3px;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  width: 10rem;
  font-family: cairo;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem 0.5rem 0.5rem 5rem;
  float: right;
}

.button__add-question:hover {
  background: #a52f2f;
}
