@import "https://fonts.googleapis.com/css?family=Cairo";

.join {
  background-color: #bc3636;
  padding:  5px;
  border: 1px solid #bc3636;
  color: white;
  border-radius: 6px;
  font-family: cairo;
  cursor: pointer;
  width: 11rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  transition-duration: 0.4s;
}

.login {
  background-color: white;
  color: #bc3636;
  border: 1px solid #bc3636;
  padding: 5px;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  width: 6rem;
  font-family: cairo;
  cursor: pointer;
  text-align: center;
  margin: .5rem;
  transition-duration: 0.4s;

}

.join:hover{
  background-color: #a52f2f;
}

.login:hover{
  background-color: #faf8f8;
}

@media (max-width: 1024px) {

  .join{
    width: 4rem;
  }

  .login {
    width: 4rem;
  }

}

.loginButton {
  justify-self: center;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: cairo;

}

 .loginButton:hover {
  background-color: rgba(255, 0, 0);
}

.loginButton:hover {
  background-color: rgba(255, 0, 0);
}

.LinkedInButton {
  justify-self: center;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.8);
  border: none;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: cairo;
}

 .LinkedInButton:hover {
  background-color: rgba(0, 0, 255);
}

 .joinButton,
.backToLogin {
  width: 80px;
  background: white;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
}

 .backToLogin {
  width: 120px;
}

.joinButton:hover,
.backToLogin:hover {
  background-color: rgba(255, 0, 0);
  color: white;
}
.nextButton:hover{
  background-color: #bc3636ec;

}

.nextButton
{
  background-color: #bc3636;
  color: #ffffff;
  border: none;
  padding: 2px;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  width: 6rem;
  cursor: pointer;
  text-align: center;
  margin: .5rem;
  transition-duration: 0.3s;
  float: right;
}
